body{
    background: rgb(170, 216, 170);
}

.container{
    display: grid;
    width: 50%;
    margin-top: 0;
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: auto;
    background: rgb(216, 196, 196);
}

.jumbotron{
    display: grid;
    height: 90px;
    width: 50%;
    margin-left: 25%; 
    margin-right: 25%;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
    border-radius: 0;
    overflow: hidden;
}

.jumbotron h1{
    display: grid;
    text-align: center;
    font-family: 'Chewy', cursive;
    width: 50%;
    color: black;
    margin-left: 25%;
}

.main{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    text-align: center;
    padding-top: 0;
    background: rgb(216, 196, 196);
}

.panel-{
    grid-column: 1 / 2 ;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.game-panel{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    /* border: 2px solid black; */
}

.player-0-panel{
    grid-column: 1 / 2;
}

.player-1-panel{
    grid-column: 3 / 4;
}

.player-name{
    display: grid;
    /* background: red; */
    height: 100px;
    width: 100%;
    font-family: 'Rajdhani', sans-serif;
    font-size: 35px;
    font-weight: medium;
    text-align: center;
    padding-top: 40px;
}

#name-1{
    display: grid;
    /* background: green; */
    height: 100px;
    width: 100%;
    font-family: 'Rajdhani', sans-serif;
    font-size: 35px;
    text-align: center;
    padding-top: 40px
}

.player-score{
    width: 100%;
    font-weight: 900;
    font-size: 30px;
}

.player-current-0{
    grid-row: 3 / 4;
    display: grid;
    height: 100px;
    width: 50%;
    border-radius: 3px;  
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 25px;
    text-align: center;
    background: red;
     
}


.player-current-1{
    grid-row: 3 / 4;
    display: grid;
    height: 100px;
    width: 50%;
    border-radius: 3px;  
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 25px;
    padding-right: 50px;
    text-align: center;
    background: green;
}

.buttons{
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    /* margin-top: 70%;
    margin-left: 30%; */
}

.btn1{
    grid-row: 1 / 2;
    color: black;
    height: 40px;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 0;
}

.btn2{
    height: 40px;
    border-radius: 3px;
    margin-top: 5px;
}

#btn3{
    height: 40px;
    border-radius: 5px;
    margin-top: 60%;
    background: green;
    color: white;
}